<!-- Crear tarea -->

<div class="container bg-light mt-5 p-3 rounded">
  <div class="container">
    <div class="p-3 bg-dark rounded mb-4">
      <h1 class="text-light text-center">Nuevo Ranking</h1>
    </div>

    <div class="shadow-sm container bg-light-subtle mt-5 p-3 rounded">
      <form novalidate [formGroup]="newRanking" (submit)="send()">
        <!--    Input nombre -->
        <div class="mt-2 form-group">
          <label for="ranking_name"> Nombre </label>
          <input
            type="text"
            id="ranking_name"
            class=".text-muted p-3 form-control"
            formControlName="ranking_name"
            placeholder=" Introduce el nombre"
          />
        </div>

        <!--    botón de enviar-->
        <div>
          <div *ngIf="isCreate" class="mt-3 alert alert-success" role="alert">
            Ranking creado correctamente
          </div>
          <br />
          <button type="button" class="btn btn-success" [disabled]="newRanking.invalid">
            Enviar
          </button>

          <button [routerLink]="'/user'" class="btn ms-3 btn-secondary">
            Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
