<!-- Registro -->
<div class="container bg-light mt-5 p-3 rounded">
  <div class="container">
    <!-- Encabezado del formulario -->
    <div class="p-3 bg-dark rounded mb-4">
      <h1 class="text-light text-center">{{ name }}</h1>
    </div>

    <!-- Formulario de login -->
    <div>
      <h2>
        {{ taskDescription }}
      </h2>
      <!-- Campo para enviar tarea -->

      <div class="mt-2 form-group">

        <!-- En la plantilla de Angular -->

        <input placeholder="Introduce tu tarea" class=".text-muted p-3 form-control" type="file"
          (change)="onFileSelected($event)">

      </div>

      <!-- Botón para enviar formulario -->
      <div>
        <br />
        <button class="btn p-3 btn-success" [routerLink]="['/user']">Enviar</button>
      </div>

    </div>
  </div>
</div>