<div class="shadow-sm container mb-3 bg-light-subtle mt-5 p-3 rounded">
  <table class="mt-3 table table-striped table-secondary">
    <tbody>
      <tr *ngFor="let eq of task; let i = index">
        <td style="vertical-align: middle">&nbsp;</td>
        <td style="vertical-align: super">{{ eq.name }}</td>
        <td>&nbsp;</td>
        <td>
          <a [routerLink]="'/edit'" class="btn btn-outline-dark">Ver</a>

          <a  [routerLink]="'/edit'" class="btn ms-3 btn-danger">Borrar</a>
          <!-- TODO el borrar solo tiene que salir si es profesor ejecutar funcion de borrado -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
