<div>
  <div
    *ngIf="rankingList != null"
    style="height: 150px; margin: auto"
    class="overflow-y-scroll"
  >
    <table class="mt-3 table table-striped table-secondary">
      <tbody>
        <tr>
          <th scope="row">Profesor:</th>
          <th scope="row">Imagen:</th>
          <th scope="row">Nombre:</th>
          <th scope="row">Puntos:</th>
        </tr>

        <tr *ngFor="let eq of rankingList">
          <td>{{ eq.teacher }}</td>
          <td>
            <img
              *ngIf="eq.teacherImg != null"
              style="width: 40px; border-radius: 15px"
              src="{{ eq.teacherImg }}"
              alt=""
            />
            <img
              *ngIf="eq.teacherImg == 'def'"
              style="width: 40px; border-radius: 15px"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Gvi_vsZKIBWMbuTLs8Qmm_zwJZNkpHZh5og2CySpUg8Nybo07HXYTUE-Zi5Xmcnh1b0&usqp=CAU"
              alt=""
            />
          </td>
          <td>{{ eq.name }}</td>
          <td>{{ eq.points }}</td>
          <td>
            <a
              (click)="selectRanking(eq.id)"
              [routerLink]="'/edit'"
              class="btn btn-outline-dark"
              >VER</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="rankingList == null"
    style="
      height: 150px;
      display: flex;
      margin: auto;
      border: 3px solid orangered;
      color: orangered;
      font-size: 28px;
      justify-content: center;
      align-items: center;
    "
  >
    No estás registrado en ningún ranking, ¡busca uno y compite ya!
  </div>

  <form class="mt-4" [formGroup]="sendCode" (submit)="searchNewRanking()">
    <div class="input-group mb-3">
      <input
        type="text"
        id="code"
        class="text-muted p-3 form-control input-group mb-3"
        placeholder="Entra el Código"
        aria-label="Escribe algo aquí"
        aria-describedby="basic-addon2"
        formControlName = "code"
      />
      <div class="input-group-append">
        <button type="submit" class="ms-3 me-3 p-3 btn btn-success">
          Buscar
        </button>
      </div>
    </div>
  </form>
</div>
