<!-- Registro -->
<div class="container bg-light mt-5 p-3 rounded">
  <div class="container">
    <div class="p-3 bg-dark rounded mb-4">
      <!-- poner el nombre del ranking -->
      <h1 class="text-light text-center">{{ rankingName }} --> {{ code }}</h1>
    </div>

    <!-- Tabla de clasificación -->
    <div class="shadow-sm container bg-light-subtle mt-5 p-3 rounded">
      <table class="table mt-3 table table-striped table-secondary">
        <tbody>
          <tr class="text-center">
            <th>Posición</th>
            <th>Nick</th>
            <th>Puntos</th>
            <th>Acciones</th>
            <th>Responsabilidad</th>
            <th>cooperación</th>
            <th>Iniciativa</th>
            <th>G.Emocional</th>
            <th>Pensamiento</th>
          </tr>
          <!-- Ciclo a través de cada elemento en la tabla -->
          <tr class="text-center" *ngFor="let eq of ranking; let i = index">
            <td style="vertical-align: middle">
              <!-- Mostrar el índice + 1, que corresponde a la posición actual en la tabla -->
              <strong> {{ i + 1 }} </strong>
            </td>

            <td style="vertical-align: middle">{{ eq.user_name }}</td>
            <!-- <td style="vertical-align: middle"> {{ eq.points }}</td> -->
            <td style="vertical-align: middle; font-size: 20px">
              <!-- Mostrar los puntos del jugador en la tabla -->
              <strong>{{ eq.points }}</strong>
            </td>
            <td>
              <!-- TODO hacer que solo lo muestre los profesores y que valide con un confirmed -->
              <button class="btn text-center btn-outline-danger">Borrar</button>
            </td>

            <td>
              <!-- Mostrar la medalla del jugador -->
              <img
                src="{{ skill('responsabilidad') }}"
                alt=""
                style="height: 50px"
              />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosResponsabilidad
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      max="1000"
                      value="0"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Responsabilidad',
                          puntosResponsabilidad.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </td>
            <td>
              <!-- Mostrar la medalla del jugador -->
              <img src="{{ skill('response') }}" alt="" style="height: 50px" />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosCooperacion
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      max="1000"
                      value="0"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Cooperacion',
                          puntosCooperacion.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </td>
            <td>
              <!-- Mostrar la medalla del jugador -->
              <img src="{{ skill('response') }}" alt="" style="height: 50px" />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosIniciativa
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      max="1000"
                      value="0"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Iniciativa',
                          puntosIniciativa.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </td>
            <td>
              <!-- Mostrar la medalla del jugador -->
              <img src="{{ skill('response') }}" alt="" style="height: 50px" />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosEmocional
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      max="1000"
                      value="0"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Emocional',
                          puntosEmocional.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </td>

            <td>
              <!-- Mostrar la medalla del jugador -->
              <img src="{{ skill('response') }}" alt="" style="height: 50px" />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosPensamiento
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      max="1000"
                      value="0"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Pensamiento',
                          puntosPensamiento.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- TODO Comprobar si es profesor o alumno -->
      <!-- Mostrar el componente de tareas para los estudiantes -->
      <div>
        <app-tareas-alumnos></app-tareas-alumnos>
      </div>
      <!-- TODO Comprobar si es profesor o alumno -->

      <div>
        <!-- TODO hacer que se actualicen los puntos que tenemos -->
        {{ points }}
      </div>

      <!-- Agregar un botón para crear una nueva tarea -->
      <div>
        <button [routerLink]="'/tarea'" class="btn mb-2 btn-primary">
          Nueva tarea
        </button>
        <pre>{{ inputValues | json }}</pre>
        <!-- TODO poner ngif que diferencia si es profesor o alumno y que valide deje enviar puntos siendo alumno o historial de puntos siendo profesor -->
        <button
          (click)="sendJsonToBackend({inputValues})"
          class="btn ms-2 mb-2 btn-outline-info"
        >
          <!-- TODO poner función que llame al service para guardar puntos -->
          enviar puntos
        </button>
        <button
          [routerLink]="'/historial'"
          class="btn ms-2 mb-2 btn-outline-info"
        >
          Historial de puntos
        </button>
      </div>
      <!-- Agregar un botón para cambiar el código del ranking -->
      <div class="btn me-2 btn-info">Cambiar código</div>
      <!-- Agregar un botón de volver -->
      <button [routerLink]="'/user'" class="btn btn-secondary">Volver</button>
    </div>
  </div>
</div>
