<!-- Registro -->
<div class="container bg-light mt-5 p-3 rounded">
  <div class="container">
    <div class="p-3 bg-dark rounded mb-4">
      <!-- poner el nombre del ranking -->
      <h1 class="text-light text-center">{{rankingName }} {{ code }}</h1>
    </div>

    <!-- Tabla de clasificación -->
    <div class="shadow-sm container bg-light-subtle mt-5 p-3 rounded">
      <table class="table mt-3 table table-striped table-secondary">
        <tbody>
          <tr class="text-center">
            <th>Posición</th>
            <th>Nick</th>
            <th>Puntos</th>
            <th *ngIf="isTeacher" >Acciones</th>
            <th>Responsabilidad</th>
            <th>cooperación</th>
            <th>Iniciativa</th>
            <th>G.Emocional</th>
            <th>Pensamiento</th>
          </tr>
          <!-- Ciclo a través de cada elemento en la tabla -->
          <tr class="text-center" *ngFor="let eq of ranking; let i = index">

            {{getIdRank(eq)}}

            <td style="vertical-align: middle">
              <!-- Mostrar el índice + 1, que corresponde a la posición actual en la tabla -->
              <strong> {{ i + 1 }} </strong>
            </td>

            <td style="vertical-align: middle">{{ eq.user_name }}</td>
            <!-- <td style="vertical-align: middle"> {{ eq.points }}</td> -->
            <td style="vertical-align: middle; font-size: 20px">
              <!-- Mostrar los puntos del jugador en la tabla -->
              <strong>{{ eq.puntosSemanales }}</strong>
            </td>
            <td *ngIf="isTeacher">
              <!-- TODO hacer que solo lo muestre los profesores y que valide con un confirmed -->
              <button *ngIf="isTeacher" class="btn text-center btn-outline-danger">Borrar</button>
            </td>

            <td>
              
             
              <!-- Mostrar la medalla del jugador -->
              <img
                src="{{ skill('responsabilidad') }}"
                alt=""
                style="height: 50px"
                data-toggle="modal"
                data-target="#myModal1"
              />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      id="puntosResponsabilidad"
                      name="puntosResponsabilidad"
                      #puntosResponsabilidad
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      [max]="maxPuntos"
                      [value]="valorInput"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Responsabilidad',
                          puntosResponsabilidad.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </td>

            <!-- Modal -->
            <div
              class="modal fade"
              id="myModal1"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                      Responsabilidad
                    </h4>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Cerrar"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    - Trabaja de forma constante.
                    <br />
                    - Se mantiene conectado/a a la actividad del grupo.
                    <br />
                    - Hace comentarios relacionados con la tarea a realizar.
                    <br />
                    - Realiza las tareas de forma eficiente.
                    <br />
                    - Realiza las tareas con cuidado.
                    <br />
                    - Persevera ante las dificultades.
                    <br />
                    - Respeta las normas.
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <td>
              <!-- Mostrar la medalla del jugador -->
              <img
                src="{{ skill('puntosCooperacion') }}"
                alt=""
                style="height: 50px"
                data-toggle="modal"
                data-target="#myModal2"
              />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosCooperacion
                      id="puntosCooperacion"
                      name="puntosCooperacion"
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      [max]="maxPuntos"
                      [value]="valorInput"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Cooperacion',
                          puntosCooperacion.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div
                class="modal fade"
                id="myModal2"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Cooperación</h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Cerrar"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      - Escucha a los demás.
                      <br />
                      - Incorpora lo que dicen los demás.
                      <br />
                      - Fomenta la participación de los miembros del grupo.
                      <br />
                      - Participa en la toma de decisiones consensuadas.
                      <br />
                      - Facilita la resolución de conflictos.
                      <br />
                      - Reconoce sus responsabilidades y las de los demás.
                      <br />
                      - Ayuda a los demás de forma desinteresada.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <!-- Mostrar la medalla del jugador -->
              <img
                src="{{ skill('response') }}"
                alt=""
                style="height: 50px"
                data-toggle="modal"
                data-target="#myModal3"
              />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosIniciativa
                      id="puntosIniciativa"
                      name="puntosIniciativa"
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      [max]="maxPuntos"
                      [value]="valorInput"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Iniciativa',
                          puntosIniciativa.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div
                class="modal fade"
                id="myModal3"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Iniciativa</h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Cerrar"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      - Aporta ideas.
                      <br />
                      - Hace preguntas cuando se encalla.
                      <br />
                      - Toma decisiones para que el proyecto avance.
                      <br />
                      - Sabe convencer al grupo de sus propuestas.
                      <br />
                      - Realiza las tareas con cuidado.
                      <br />
                      - Trabaja con determinación.
                      <br />
                      - Cree que puede iniciar cambios.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <!-- Mostrar la medalla del jugador -->
              <img
                src="{{ skill('response') }}"
                alt=""
                style="height: 50px"
                data-toggle="modal"
                data-target="#myModal4"
              />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosEmocional
                      id="puntosEmocional"
                      name="puntosEmocional"
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      [max]="maxPuntos"
                      [value]="valorInput"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Emocional',
                          puntosEmocional.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div
                class="modal fade"
                id="myModal4"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">
                        Gestión Emocional
                      </h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Cerrar"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      - Transmite alegría.
                      <br />
                      - Se muestra tranquilo/a en situaciones de presión.
                      <br />
                      - Controla las emociones en situaciones de conflicto.

                      <br />
                      - Asume la posibilidad de equivocarse.

                      <br />
                      - Acepta que los cambios que propone no salgan adelante.
                      <br />
                      - Persevera ante las dificultades.
                      <br />
                      - Adecúa el comportamiento a las circunstancias.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>

            <td>
              <!-- Mostrar la medalla del jugador -->
              <img
                src="{{ skill('response') }}"
                alt=""
                style="height: 50px"
                data-toggle="modal"
                data-target="#myModal5"
              />
              <div style="width: 75px">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="text-center"
                      #puntosPensamiento
                      id="puntosPensamiento"
                      name="puntosPensamiento"
                      type="number"
                      class="form-control form-control-sm"
                      id="input-contador"
                      min="0"
                      [max]="maxPuntos"
                      [value]="valorInput"
                      step="10"
                      (input)="
                        onInputChange(
                          eq.id_user,
                          eq.id_ranking,
                          'Pensamiento',
                          puntosPensamiento.value
                        )
                      "
                    />
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div
                class="modal fade"
                id="myModal5"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Pensamiento</h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Cerrar"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <br />
                      - Relaciona contenidos nuevos con conocimientos previos.
                      <br />
                      - Hace buenas reflexiones sobre los contenidos trabajados.
                      <br />
                      - Hace buenas reflexiones sobre sus procesos personales
                      internos.
                      <br />
                      - Hace buenas preguntas (para entender o para permitir
                      avanzar).
                      <br />
                      - Tiene ideas creativas (explora caminos alternativos).
                      <br />
                      - Plantea buenas estrategias de resolución de problemas.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- TODO Comprobar si es profesor o alumno -->
      <!-- Mostrar el componente de tareas para los estudiantes -->
      <div>
        <app-tareas-alumnos></app-tareas-alumnos>
      </div>

      
      <!-- Agregar un botón para crear una nueva tarea -->
      <div>
        <button *ngIf="isTeacher"   [routerLink]="'/tarea'" class="btn mb-2 btn-primary">
          Nueva tarea
        </button>
        
        <!-- TODO poner ngif que diferencia si es profesor o alumno y que valide deje enviar puntos siendo alumno o historial de puntos siendo profesor -->
        <button
        *ngIf="!isTeacher"
          (click)="sendJsonToBackend({jsonValor})"
          class="btn ms-2 mb-2 btn-outline-info"
        >
          <!-- TODO poner función que llame al service para guardar puntos -->
          Enviar puntos
        </button>
        <button
        *ngIf="isTeacher"
         [routerLink]="['/historial', this.elIdRanking ]"
          class="btn ms-2 mb-2 btn-outline-info"
        >
          Historial de puntos
        </button>
      </div>
      <!-- Agregar un botón para cambiar el código del ranking -->
      <div   *ngIf="isTeacher && ranking"   class="btn me-2 btn-info"  (click)="cambiarCodigo()">
        
        Cambiar código</div>
      <!-- Agregar un botón de volver -->
      <button [routerLink]="'/user'" class="btn btn-secondary">Volver</button>
    </div>
  </div>
</div>
