<div>
  <!-- Si hay una lista de rankings, muestra la tabla de rankings -->
  <div
    *ngIf="rankingList != null"
    style="height: 150px; margin: auto"
    class="overflow-y-scroll"
  >
    <table class="mt-3 table table-striped table-secondary">
      <tbody>
        <!-- Encabezado de la tabla -->
        <tr>
          <th scope="row">Profesor</th>
          <th scope="row">Nombre</th>
          <th scope="row">Acciones</th>
        </tr>

        <!-- Cuerpo de la tabla: muestra cada ranking de la lista -->
        <tr *ngFor="let eq of rankingList">
          <td>{{ eq.owner }}</td>
          

          <td>{{ eq.ranking_name }}</td>

          <td>
            <!-- Botón para ver detalles del ranking -->
            <a (click)="takeObjectStudent(eq)" [routerLink]="['/edit',eq.id]" class="btn btn-outline-dark"> VER</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Si no hay lista de rankings, muestra un mensaje de error -->
  <div
    *ngIf="rankingList == null"
    style="
      height: 150px;
      display: flex;
      margin: auto;
      border: 3px solid orangered;
      color: orangered;
      font-size: 28px;
      justify-content: center;
      align-items: center;
    "
  >
    No estás registrado en ningún ranking, ¡busca uno y compite ya!
  </div>

  <!-- Formulario para buscar nuevos rankings -->
  <form class="mt-4" [formGroup]="sendCode" (submit)="searchNewRanking()">
    <div class="input-group mb-3">
      <!-- Campo de texto para ingresar el código de búsqueda -->
      <input
        type="text"
        id="code"
        class="text-muted p-3 form-control input-group mb-3"
        placeholder="Entra el Código"
        aria-label="Escribe algo aquí"
        aria-describedby="basic-addon2"
        formControlName="code"
      />
      <div class="input-group-append">
        <!-- Botón para enviar el formulario de búsqueda -->
        <button type="submit" class="ms-3 me-3 p-3 btn btn-success">
          Buscar
        </button>
      </div>
    </div>
  </form>
</div>
