<div class="container">
  <nav class="rounded navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">
      <h1 class="m-3">Navbar</h1>
    </a>
    <form class="form-inline">
      
        <!-- Arreglar esto para que funcine fuera del home (que nos e añada sino que cambie) -->
        <button class="btn btn-outline-secondary my-2 my-sm-0">
          <a [routerLink]="['login']" class="nav-link">
            Login
          </a></button>
      
     
        <!-- Arreglar esto para que funcine fuera del home (que nos e añada sino que cambie) -->
        <button class="btn m-3 btn-outline-secondary my-2 my-sm-0">
          <a [routerLink]="['/register/student']" class="nav-link">
          Register
        </a>
        </button>
  
    </form>
  </nav>
</div>
