<!-- Contenedor principal -->
<div class="container">
  <!-- Barra de navegación -->
  <nav class="rounded navbar navbar-dark bg-dark justify-content-between">
    <!-- Título de la barra de navegación -->
    <a class="navbar-brand">
      <h1 class="m-3">Navbar</h1>
    </a>

    <!-- Sección de inicio de sesión y registro -->
    <div *ngIf="!log">
      <!-- Formulario para inicio de sesión y registro -->
      <form class="form-inline">
        <!-- Botón de inicio de sesión -->
        <a
          [routerLink]="['/login']"
          class="btn btn-outline-secondary my-2 my-sm-0"
        >
          Login
        </a>
        <!-- Botón de registro -->
        <a
          [routerLink]="['/register']"
          class="btn m-3 btn-outline-secondary my-2 my-sm-0"
        >
          Register
        </a>
      </form>
    </div>

    <!-- Sección de la cuenta del usuario -->
    <div *ngIf="log">
      <!-- Formulario para mostrar la cuenta del usuario -->
      <form class="form-inline">
        <!-- Botón para acceder a la cuenta del usuario -->

          <a [routerLink]="['/user']" class="btn m-3 btn-outline-secondary my-2 my-sm-0"> Tu Cuenta </a>
        
      </form>
    </div>
  </nav>
</div>
