<!-- Este es un contenedor principal -->
<div>
  <!-- Esta sección se muestra si el rankingList no es nulo -->
  <div
    *ngIf="rankingList != null"
    style="height: 150px; margin: auto"
    class="overflow-y-scroll"
  >
    <!-- Aquí se muestra una tabla con la información del ranking -->
    <table class="text-center mt-3 table table-striped table-secondary">
      <tbody>
        <tr>
          <!-- Encabezados de la tabla -->
          <th scope="row">Nombre:</th>
         
          <th scope="row"> Código</th>
          <th scope="row"></th>
          <th>Acción</th>
        </tr>

        <!-- Ciclo para mostrar la información de cada ranking en la tabla -->
        <tr *ngFor="let eq of rankingList">
          <td>{{ eq.ranking_name }}</td>
          <th>{{eq.code}}</th>
          <th></th>
          <td>
            <!-- Botón para ver la información del ranking -->
            <a
            [routerLink]="['/edit',eq.id]" class="btn btn-outline-dark"
              (click)="takeObject(eq)"
              >VER</a
            >

            <!-- Botón para borrar el ranking -->
            <a class="btn ms-3 btn-danger" (click)="deleteRanking(eq)"
              >Borrar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    *ngIf="rankingList == null"
    style="
      height: 150px;
      display: flex;
      margin: auto;
      border: 3px solid orangered;
      color: orangered;
      font-size: 28px;
      justify-content: center;
      align-items: center;
    "
  >
    No creaste ningún ranking Crea uno
  </div>

  <button
    [routerLink]="'/newRanking'"
    type="submit"
    class="btn p-2 m-4 btn-primary"
  >
    Crear Ranking
  </button>
  <button
    [routerLink]="'/pendentList'"
    type="submit"
    class="btn p-2 btn-warning"
  >
    Alumnos pendientes
  </button>
</div>
