<div class="container bg-light mt-5 p-3 rounded">
  <div class="container">
    <div class="p-3 bg-dark rounded mb-4">
      <!-- poner el nombre del ranking -->
      <h1 class="text-light text-center">Historial</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Historial de puntos</h2>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center">fecha</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Responsabilidad</th>
                  <th class="text-center">cooperación</th>
                  <th class="text-center">Iniciativa</th>
                  <th class="text-center">G.Emocional</th>
                  <th class="text-center">Pensamiento</th>
                  <th class="text-center">Puntuador</th>
                  <th class="text-center">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>
                    <input
                      class="form-control mb-2"
                      placeholder="Filtrar por nombre"
                      [(ngModel)]="filtro"
                    />
                  </td>
                  <td>
                    <!-- <select class="form-control" id="opciones" name="opciones">
                      <option value=""></option>
                      <option value="Responsabilidad">Responsabilidad</option>
                      <option value="cooperación">cooperación</option>
                      <option value="Iniciativa">Iniciativa</option>
                      <option value="Emocional">G.Emocional</option>
                      <option value="Pensamiento">Pensamiento</option>
                    </select> -->
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <!-- TODO separar esto y que pille por separado que el nombre -->
                    <input
                      class="form-control mb-2"
                      placeholder="Buscar Filtro"
                      [(ngModel)]="filtro"
                    />
                  </td>
                  <td></td>
                </tr>
                <tr *ngFor="let nota of historialNotas | filter : filtro">
                  <td class="text-center">{{ nota.fecha }} {{ nota.hora }}</td>
                  <td class="text-center">{{ nota.userName }}</td>
                  <td class="text-center">
                    {{ nota.pentabilities.Responsabilidad }}
                  </td>
                  <td class="text-center">
                    {{ nota.pentabilities.Cooperacion }}
                  </td>
                  <td class="text-center">
                    {{ nota.pentabilities.Iniciativa }}
                  </td>
                  <td class="text-center">
                    {{ nota.pentabilities.Emocional }}
                  </td>
                  <td class="text-center">
                    {{ nota.pentabilities.Pensamiento }}
                  </td>
                  <td class="text-center">{{ nota.namePuntuador }}</td>
                  <td class="text-center">
                    <button class="btn ms-2 mb-2 btn-outline-danger">
                      <!-- TODO poner función que llame al service para Borrar puntos -->
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button [routerLink]="'/user'" class="btn btn-secondary">
              Volver
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
